body{
    max-width:1152;
    max-height: 1615;
}

.menu-bar__web{
    display: flex;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-left: 856px;
    margin-top: 27px;
}


.menu-bar__text{
    margin-right: 25px;
}

.presentation__web {
    width: 506px;
    font-family: heebo;
    font-size: 44px;
    padding-top: 228px;
    font-weight: bold;
    padding-bottom: 23px;
    line-height: 60px;
    color: #21243D;
    margin-left: 148px;
}

.text__web {
    width: 500px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 23px;
    margin-left: 148px;

}

.photo__web {
    width: 246px;
    position: absolute;
    left: 700px;
    top: 230px;
}

.btn-download__web {
    background-color: #FF6464;
    color: #FFFFFF;
    font-family: heebo;
    text-align: center;
    font-size: 20px;
    width: 208px;
    height: 35px;
    margin-left: 148px;
    margin-top: 38px;
    border-radius: 2px;
    padding-top: 15px;

}
/* card */

.background{
    margin-top: 88px;
    background-color: rgba(237, 247, 250, 1);
    height: 350px;
    width: 100%;
}

.background__text{
    padding-top: 7px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #21243D;
    margin-left: 148px;
}

.blog{
    position: absolute;
    width:400px;
    height: 255px;
    background: #FFFFFF;
    top:740px;
    left: 148px;
}

.blog-1{
    position: absolute;
    width:400px;
    height: 255px;
    background: #FFFFFF;
    top:740px;
    left: 600px;
}

.title__web {
    padding-left: 23px;
    padding-top: 24px;
    font-family: heebo;
    font-weight:bold;
    font-size: 22px;
    color: #21243D;
    line-height: 30px;
    width: 300px;
}

.card-post__date{
    display: flex;
}

.text__card-1__web {
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    padding-left: 23px;
}

.card__img__web {
    padding-top: 20px;
    padding-left: 20px;
}

.text__card-2__web {
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    padding-left: 40px;
}

.text__card-3__web {
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 23px;
    padding-left: 23px;
    width: 368px;
}

/* Works */

.Text__hub{
    padding-top: 55px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #21243D;
    margin-left: 148px;
}

.hub__web {
    display: flex;
    margin-left: 148px;
    padding-top: 25px;
}

.hub-elements__title{
    padding-left: 23px;

    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    width: 341px;
}

.hub-elements__text{
    padding-top: 10px;
    display: flex;
}

.year__web {
    padding-top: 5px;
    font-family: heebo;
    background: #142850;
    border-radius: 16px;
    width: 15%;
    color: azure;
    text-align: center;
    padding-bottom: 2px;
    margin-left: 20px;
}


.hub__text__web {
    font-family: heebo;
    margin-left: 40px;
    padding-top: 3px;
    color: #8695A4;
}

.hub__desc__web {
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 23px;
    padding-left: 23px;
    width: 368px;
}

.midias__web{
    margin-top: 201px;
    display: flex;
    margin-left: 459px;
}

.copyright__web{
    padding-top: 54px;
    font-family: heebo;
    margin-left: 464px;
    padding-bottom: 54px;
    font-size: 14px;
    font-weight: normal;
}

.midias__img{
    margin-right: 45px;
}

.Mensage{
    font-size: 40px;
    font-family: heebo;
}