body{
    max-width:1152;
    max-height: 1615;
}

.menu-bar{
    display: flex;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-left: 856px;
    margin-top: 27px;
}


.menu-bar__text{
    margin-right: 25px;
}

.presentation {
    width: 506px;
    font-family: heebo;
    font-size: 44px;
    padding-top: 228px;
    font-weight: bold;
    padding-bottom: 23px;
    line-height: 60px;
    color: #21243D;
    margin-left: 148px;
}

.text {
    width: 500px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 23px;
    margin-left: 148px;

}

.photo{
    width: 246px;
    position: absolute;
    left: 700px;
    top: 230px;
}

.btn-download {
    background-color: #FF6464;
    color: #FFFFFF;
    font-family: heebo;
    text-align: center;
    font-size: 20px;
    width: 208px;
    height: 35px;
    margin-left: 148px;
    margin-top: 38px;
    border-radius: 2px;
    padding-top: 15px;

}
/* card */

.background{
    margin-top: 88px;
    background-color: rgba(237, 247, 250, 1);
    height: 500px;
    width: 100%;
}

.background__text{
    padding-top: 7px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #21243D;
    margin-left: 148px;
}

.teste{
    position: absolute;
    width:400px;
    height: 255px;
    background-color: aqua;
    top:740px;
    left: 148px;
}

.teste-1{
    position: absolute;
    width:400px;
    height: 255px;
    background-color: aqua;
    top:740px;
    left: 600px;
}

.title{
    padding-left: 23px;
    padding-top: 24px;
    font-family: heebo;
    font-weight:bold;
    font-size: 22px;
    color: #21243D;
    line-height: 30px;
    width: 300px;
}

.card-post__date{
    display: flex;
}

.text__card-1{
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    padding-left: 23px;
}

.card__img{
    padding-top: 20px;
    padding-left: 20px;
}

.text__card-2{
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    padding-left: 40px;
}

.text__card-3{
    padding-top: 20px;
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    line-height: 23px;
    padding-left: 23px;
    width: 368px;
}

/* Works */

